@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'flowbite/dist/flowbite.css';


body {
  background-color: #fcf9f5;
    font-family: "Raleway", sans-serif;
     display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-image: url('./images/image2.png');
  width: 1100px;
  height: 700px;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
}

h3{
  font-size: 30px;
  font-weight: bold;
}
.containerS {
  background-image: url('./images/image2.png');
  width: 1100px;
  height: 700px;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
}
.container h1{
  font-size: 30px;
  margin-bottom: 15px;
}

.second {
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
  margin-top: 25px;
  margin-left: 50px;
  width: 400px;
  height: 650px;
  background: rgb(250, 249, 246,0.15);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  z-index: 1;
}

.title {
    font-size: 50px;
  color: #0F253D;
}
label{
    font-size: 20px;
}
input{
  background-color:#ffffff ;
    font-family: "Raleway", sans-serif;;
    font-size: 17px;
    display: flex;
   text-align: center;
    border: none;
    width: 250px;
    height: 60px;
    border-radius: 30px;
}

form{
  color: #0F253D;
}
.Btn{
     font-family: "Raleway", sans-serif;
    margin-top: 10px;
     border: none; 
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;  
    font-size: 25px;
    color: #FAF9F6;
    background-color: #ad1111;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
     width: 250px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;;
    transition: background-color 0.2s ease;
    
}

button:hover {
    background-color:#969FA8;
}

.Nav2{
  font-size: 17px;
  width: 1100px;
  margin-bottom: 30px;
  height: 70px;
   background-image: url('images/image3.jpg');
  display: flex;
  align-items: center;
  gap: 30px;
  padding-left: 30px;
  border-radius: 30px;
}
.Nav2 a{
  color: #0F253D;
  text-decoration: none;
  border-radius: 30px;
  height: 35px;
  width: fit-content;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
 transition: background-color 0.2s ease;
 transition: color 0.2 ease;
}
.Nav2 a:hover {
  color:#FAF9F6;
    background-color: #AD1211;
}


.Nav{
  width: 1100px;
  margin-bottom: 30px;
  height: 70px;
   background-image: url('images/image3.jpg');
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-left: 30px;
  border-radius: 30px;
}
.Nav a{
  font-size: 17px;
  color: #0F253D;
  text-decoration: none;
  border-radius: 30px;
  height: 35px;
  width: fit-content;
  padding: 5px;
  margin-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
 transition: background-color 0.2s ease;
 transition: color 0.2 ease;
}
.Nav a:hover {
  color:#FAF9F6;
    background-color: #AD1211;
}

.logoutbtn{
   justify-self: flex-end;
}
.nav-links{
  display: flex;
}

.logoutbtn button{
  margin-right: 30px;
  color:#FAF9F6;
  font-size: 17px;
  border:none;
  height: 47px;
  width: 80px;
  border-radius: 30px;
  background-color: #AD1211;
font-family: "Raleway", sans-serif;
cursor: pointer;
justify-content: center;
}

.welcome{
  margin-top: 50px;
display: flex;
align-items: center;
 flex-direction: column;
justify-content: center;
}

.welcome h1{
  color:#0F253D ;
font-size: 50px;
}

@keyframes color-change {
  0% { color: #AD1211; }
  50% { color:#D3D3D2 ; }
  100% { color: #AD1211; }
}

.welcome p{
  color: #0F253D;
  margin-top: 30px;
font-size: 25px;
animation: color-change 3s infinite;
}

.welcome a{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
   color:#E6E3DE;
  font-size: 25px;
  border:none;
  height: 60px;
  width: 230px;
  border-radius: 30px;
  background-color: #AD1211;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
    
}

.welcome a:hover {
    background-color:#EAE7E2;
    color: #0F253D;
}

.containerP{
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile{
  margin: 70px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcf7f0;
  border-radius:30px ;
 height: 500px;
 width: 900px;
   box-shadow: 0 5px 5px rgba(0,0,0,0.15);
position: relative;
}

.header {
  background-color: #ad1111;
  position: absolute;
  top: 0;
  height: 500px;
  width: 600px;
  z-index: -2;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
}


.pfp img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile h2{
  animation: change 4s infinite;
  font-size: 50px;
}

@keyframes change {
  0% { color: #0F253D; }
  50% { color:#637485 ; }
  100% { color: #0F253D; }
}


.profile p{
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

.Dbtn button{
  color:#FAF9F6;
  font-size: 19px;
  border:none;
  height: 60px;
  padding: 10px;
  width: fit-content;
  border-radius: 30px;
  background-color: #AD1211;
font-family: "Raleway", sans-serif;
cursor: pointer;
justify-content: center;
}

.Updbtn button{
  color:#000000;
  font-size: 19px;
  border:none;
  height: 60px;
  padding: 10px;
  width: fit-content;
  border-radius: 30px;
  background-color: #DFDCD7;
font-family: "Raleway", sans-serif;
cursor: pointer;
justify-content: center;
}

.options{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}



.header {
  background-image: url(https://images.pexels.com/photos/9710307/pexels-photo-9710307.jpeg);
  background-size: cover;
  position: absolute;
  height: 135px;
  width: 900px;
  z-index: 0;
 border-top-left-radius: 30px;
 border-top-right-radius: 30px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  text-align: center;
}

.filter{
  color: #ffffff;
  background-color:#11253C ;
  height: 70px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filter select{
  color: #0F253D;
}

.filter button{
  background-color:#AD1211;
  border-radius: 30px;
  height: 50px;
  width: 80px;
  font-size: 20px;
  color: #DFDCD7;
}

.fromandto{
  margin-left: 30px;
}

.fromandto select{
  margin: 20px;
  border:none;
  border-radius: 30px;
}

.addf{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addf button{
   background-color:#AD1211;
  border-radius: 30px;
  height: 50px;
  width: 160px;
  font-size: 20px;
  color: #DFDCD7;
}

.flightButtons button{
  margin-left: 10px;
    background-color:#AD1211;
  border-radius: 30px;
  height: 40px;
  width: 140px;
  font-size: 15px;
  color: #DFDCD7;
}

.flightButtons{
  margin-top: 30px;
   display: flex;
  flex-direction: row;
}

.updateFlight button{
  background-color: #DFDCD7;
  color: black;
}

.trip{
   margin: 70px;
   display: flex;
  flex-direction: column;
position: relative;
  align-items: center;
  justify-content: center;
  border-radius:30px ;
  flex-direction: column;
}

.trip2{
   display: flex;
  align-items: center;
  justify-content: center;
  border-radius:30px ;
  flex-direction: column;
   height: 150px;
 width: 900px;
 box-shadow: 0 5px 5px rgba(0,0,0,0.15);
background-color: #ECE9E4;
}

.trip2 p{
  font-family: 'Courier New', Courier, monospace;
  color: #0F253D;
  font-weight: bold;
  font-size: 17px;
}

.message{
  margin-top: 70px;
  font-size: larger;
}

.Flightform{
  border-radius: 30px;
  margin: 70px;
  padding: 40px;
   box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  background-color: #DFDCD7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Flightform input{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Flightform select{
  height: 60px;
  border:none;
  border-radius: 30px;}

.buttons{

  display: flex;
  flex-direction: row;
}

.fromandtoF{
  gap: 60px;
  display: flex;
}
.Date{
  display: flex;
  justify-content: center;
  align-items: center;
gap: 10px;
margin-bottom: 20px;
}

.Price{
    display: flex;
  justify-content: center;
  align-items: center;
gap: 10px;
}
