@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'flowbite/dist/flowbite.css';


body {
  background-color: #fcf9f5;
    font-family: "Raleway", sans-serif;
     display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-image: url('./images/image2.png');
  width: 1100px;
  height: 700px;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
}

.second {
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
  margin-top: 25px;
  margin-left: 50px;
  width: 400px;
  height: 650px;
  background: rgb(250, 249, 246,0.15);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  z-index: 1;
}

.title {
    font-size: 50px;
  color: #0F253D;
}
label{
    font-size: 20px;
}
input{
  background-color:#ffffff ;
    font-family: "Raleway", sans-serif;;
    font-size: 17px;
    display: flex;
   text-align: center;
    border: none;
    width: 250px;
    height: 60px;
    border-radius: 30px;
}

form{
  color: #0F253D;
}
.Btn{
     font-family: "Raleway", sans-serif;
    margin-top: 10px;
     border: none; 
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;  
    font-size: 25px;
    color: #FAF9F6;
    background-color: #ad1111;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
     width: 250px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;;
    transition: background-color 0.2s ease;
    
}

button:hover {
    background-color:#969FA8;
}

.Nav2{
  width: 1100px;
  margin-bottom: 30px;
  height: 60px;
   background-image: url('images/image3.jpg');
  display: flex;
  align-items: center;
  gap: 30px;
  padding-left: 30px;
  border-radius: 30px;
}
.Nav2 a{
  color: #0F253D;
  text-decoration: none;
  border-radius: 30px;
  height: 35px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
 transition: background-color 0.2s ease;
 transition: color 0.2 ease;
}
.Nav2 a:hover {
  color:#FAF9F6;
    background-color: #AD1211;
}


.Nav{
  width: 1100px;
  margin-bottom: 30px;
  height: 60px;
   background-image: url('images/image3.jpg');
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-left: 30px;
  border-radius: 30px;
}
.Nav a{
  font-size: 16px;
  color: #0F253D;
  text-decoration: none;
  border-radius: 30px;
  height: 35px;
  width: 80px;
  margin-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
 transition: background-color 0.2s ease;
 transition: color 0.2 ease;
}
.Nav a:hover {
  color:#FAF9F6;
    background-color: #AD1211;
}

.logoutbtn{
   justify-self: flex-end;
}
.nav-links{
  display: flex;
}

.logoutbtn button{
  margin-right: 30px;
  color:#FAF9F6;
  font-size: 16px;
  border:none;
  height: 35px;
  width: 80px;
  border-radius: 30px;
  background-color: #AD1211;
font-family: "Raleway", sans-serif;
cursor: pointer;
justify-content: center;
}

